@{
   
}

<form method="post">
    <label id="name">Add Cheese</label>
    <input name="name" type="text" />
    <br />
    <br />
    <label id="description">Add Description</label>
    <input name="description" type="text" />
    <br />
    <br />
    <input type="submit" value="Add Cheese and Description" />
</form>
